.answers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $light_back;
}

.answers__title {
  width: 202px;
  margin: 0 auto 35px;
}

.answers__subtitle {
  width: 177px;
  margin: 0 auto 40px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
}

.answers__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.answers__item {
  border: 0.5px solid #544332;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.answers__btn {
  position: relative;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: none;
  border-right: 43px solid $basic_gold;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #DDD0C3;
  text-align: left;
  cursor: pointer;

  &::before,
  &::after {
    content:'';
    position: absolute;
  }

  &::before {
    content:'';
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    width: 16px;
    height: 2px;
    background-color: $basic_white;
  }

  &::after {
    opacity: 0;
    content:'';
    transform: rotate(90deg);
    top: 50%;
    right: -30px;
    width: 16px;
    height: 2px;
    background-color: $basic_white;
  }
}

.answers__text-wrapper {
  padding: 15px;
  border-top: 0.5px solid #544332;
}

.answers__text-wrapper--closed {
  display: none;
}


.answers__text {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #DDD0C3;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .answers {
    padding: 135px 55px 75px;
  }

  .answers__title {
    width: 270px;
    margin: 0 auto 33px;
    text-align: center;
  }

  .answers__subtitle {
    margin: 0 auto 55px;
    font-size: 16px;
    line-height: 23px;
    width: 400px;
    text-align: center;
  }

  .answers__list {
    counter-reset: counter;
    width: 553px;
    margin-left: auto;
    box-sizing: border-box;
  }

  .answers__item {
    counter-increment: counter;
    position: relative;

    &::before {
      content: "0" counter(counter);
      position: absolute;
      width: 60px;
      height: 47px;
      top: 50%;
      transform: translateY(-50%);
      left: -70px;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      color: #a07b50;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .answers__btn {
    padding: 21px 30px;
    font-size: 16px;
    line-height: 19px;
    border-right: 73px solid #a07b50;

    &::before {
      right: -45px;
    }
  }

  .answers__text-wrapper {
    padding: 21px 30px;
  }

  .answers__text {
    font-size: 16px;
    line-height: 154%;
  }
}

@media (min-width: $desktop) {
  .answers {
    padding-top: 70px;
  }

  .answers__title {
    margin-bottom: 23px;
  }

  .answers__list {
    width: 795px;
    margin: 0 auto;
  }

  .answers__item::before {
    font-size: 70px;
    line-height: 82px;
    left: -90px;
  }

  .answers__btn {
    min-height: 110px;
    padding: 21px 30px;
    font-size: 16px;
    line-height: 19px;
    border-right: 104px solid #a07b50;

    &::before {
      right: -61px;
    }
  }
}
