.contacts-block {
  margin: 0 0 55px;
}

.contacts-block__link {
  display: block;
  position: relative;
  margin: 0 0 27px 60px;
  text-transform: uppercase;
  color: #192144;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -59px;
    width: 45px;
    height: 45px;
    background: #121936;
    border-radius: 50%;
  }
}

.contacts-block__icon {
  position: absolute;
}

.contacts-block__icon--tel {
  top: 0px;
  left: -47px;
}

.contacts-block__icon--mail {
  top: -2px;
  left: -49px;
}
