.directions {
  background: #EDEFF6;
  padding: 0 0 34px 0;
  border-radius: 0 0 30px 30px;
}

.directions__title {
  margin: 0 0 0 50px;
}

.directions__promo {
  width: 216px;
  margin: 0 0 60px 50px;
  padding: 19px 0 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.directions__list {
  list-style: none;
  margin: 0 0 27px 0;
  padding: 0;
}
