.modal {
  display: none;

  &::before {
    content: '';
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 1, 1, 0.9);
    z-index: 1000;
  }
}

.modal__content {
  width: calc(100vw - 100px);
  max-width: 500px;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 5000;
  background-color: $light_back;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  padding: 20px 15px;
  border: 0.5px solid $basic_gold;
  box-sizing: border-box;
}

.modal__button {
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;

  &::before {
    content: 'x';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: $basic_gold;
  }
}

.modal__text {
  color: rgba($color: $basic_white, $alpha: 0.7);
  max-width: 300px;
  text-align: center;
  margin: 0 auto 20px auto;

  &:last-child {
    margin-bottom: 0;
  }
}
