.page-header {
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background-color: $dark_back;
  display: flex;
  flex-direction: column;
  min-height: 617px;
  height: 100vh;
  box-sizing: border-box;

  background-image: url('../img/cat-promo-mobile.png');
  background-repeat: no-repeat;
  background-position: right bottom;

  @media (min-width: $tablet) {
    background-image: url('../img/cat-promo-tablet.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media (min-width: $desktop) {
    background-image: url('../img/cat-promo-desktop.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }

}

.page-header__logo-link {
  align-self: center;
  margin-bottom: 57px;
}

.page-header__logo-link img {
  display: block;
}

@media (min-width: $tablet) {
  .page-header {
    height: auto;
    min-height: 100%;
    padding: 27px 40px 50px;
  }
}

@media (min-width: $desktop) {
  .page-header {
    height: 100vh;
    min-height: 684px;
    padding: 50px 0 0 0;
  }
}
