.pets {
  padding-top: 63px;
  background-color: $light_back;
}

.pets__title {
  width: 140px;
  margin: 0 auto 32px;
}

.pets__subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: $basic_gold;
  max-width: 350px;
  margin: 0 auto 40px;
  text-align: center;
}

.pets__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 234px;
  margin: 0 auto 40px;
}

.pets__button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.pets__button--active {
  color: $basic_white;
}

@media (min-width: $tablet) {
  .pets {
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
  }

  .pets__title {
    width: 180px;
    margin-bottom: 23px;
  }

  .pets__subtitle {
    width: 516px;
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }

  .pets__button {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (min-width: $desktop) {
  .pets {

  }
}
