.reviews {
  padding-bottom: 60px;
  background-color: $light_back;
}

.reviews__title {
  width: 120px;
  margin: 0 auto 20px;
  text-align: center;
}

.reviews__scroll {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 105px;
  margin: 0 auto 40px;
  color: rgba($color: $basic_white, $alpha: 0.5);
  font-family: "Yeseva One";
  font-size: 14px;

  &::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    width: 17px;
    height: 10px;
    background: url("../img/arrow.svg") no-repeat;
  }
}

.reviews__slider {
  position: relative;
}

.reviews__slider-list {
  padding: 85px 0 0 0;
  margin: 0;
  list-style: none;
  display: flex;
  overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
  }
}

.reviews__slider-item {
  position: relative;
  padding: 118px 30px 40px;
  margin: 0 20px 0 0;
  background-color: $dark_back;

  &:last-child {
    margin: 0;
  }
}

.reviews__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews__slider-name {
  width: 200px;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $basic_white;
  margin: 0 auto 25px;
}

.reviews__slider-desk {
  width: 230px;
  text-align: center;
  margin: 0 auto 25px;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.72);
}

.reviews__date-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0 auto;
}

.reviews__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: $basic_gold;
}

.reviews__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 71px;
  display: flex;
  flex-wrap: wrap;
}

.reviews__social-item {
  width: 28px;
  height: 28px;
  border: 0.5px solid rgba(160, 123, 80, 0.27);
  box-sizing: border-box;
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.reviews__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.reviews__slider-button {
  display: none;
  position: absolute;
  width: 20px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.reviews__slider-button--prev {
  background-image: url('../img/arrowPrev.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: -16px;
  left: 0;
}

.reviews__slider-button--next {
  background-image: url('../img/arrowNext.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: -16px;
  right: 0;
}

.reviews__seemore {
  display: none;
}

@media (min-width: $tablet) {
  .reviews {
    padding: 0 40px 90px;
  }

  .reviews__title {
    width: 155px;
    margin: 0 auto 20px;
  }

  .reviews__slider-list {
    padding: 105px 0 0;
  }

  .reviews__slider-item {
    padding: 148px 30px 40px;
  }

  .reviews__slider-name {
    width: 225px;
    font-size: 24px;
    line-height: 28px;
    margin: 0 auto 20px;
  }

  .reviews__slider-desk {
    font-size: 14px;
    line-height: 23px;
    width: 400px;
    text-align: center;
    margin: 0 auto 35px;
  }

  .reviews__slider-button--prev {
    background-image: url('../../img/ArrowPrevLineTablet.svg');
    width: 60px;
    height: 16px;
    top: 40px;
    left: 45px;
  }

  .reviews__slider-button--next {
    background-image: url('../../img/ArrowNextLineTablet.svg');
    width: 60px;
    height: 16px;
    top: 40px;
    right: 45px;
  }
}

@media (min-width: $desktop) {
  .reviews__title {
    margin: 0 auto;
  }

  .reviews__slider-list {
    display: grid;
  }

  .reviews__slider-item {
    box-sizing: border-box;
    padding: 100px 70px 100px 145px;
    width: 640px;
    margin: 0 0 40px auto;
    min-height: 408px;

    &:last-child {
      margin: 0 0 0 auto;
    }
  }

  .reviews__slider-name {
    margin: 0 0 20px 0;
    text-align: left;
  }

  .reviews__slider-desk {
    margin: 0 0 40px 0;
    text-align: left;
  }

  .reviews__date-wrapper {
    margin: 0;
  }

  .reviews__img {
    top: 50%;
    transform: translateY(-50%);
    left: -60%;
  }

  .reviews__scroll {
    display: none;
  }

  .reviews__seemore.seemore {
    display: flex;
    width: 200px;
    margin-top: 20px;
    box-sizing: border-box;
  }
}
