.seemore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  border: 0.5px solid $basic_gold;
  margin: 0 auto;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: $basic_white;
  padding: 13px 18px;
  cursor: pointer;

  &:hover {
    background-color: $basic_gold;
    border: 0.5px solid $basic_black;
  }

  &:active {
    opacity: 0.7;
  }

  @media (min-width: $tablet) {
    width: 200px;
    font-size: 14px;
    line-height: 16px;
    padding: 18px 38px;
  }
}


