.social {
  min-width: 104px;
  width: 104px;
  margin: 0 auto 40px;
}

.social__list {
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social__item {
  margin: 0 0 0 3px;
}

.social__link {

}

.social__icon {

}

.social__icon--fb {

}

.social__icon--vk {

}

.social__icon--inst {

}
