.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  align-items: center;
  width: 58px;
  justify-content: space-between;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet) {
  .social {
    display: flex;
  }
}

@media (min-width: $desktop) {
  .social {
    width: auto;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    bottom: 80px;
    left: 80px;

    &::before {
      content:'';
      position: absolute;
      top: -110px;
      left: 10px;
      width: 0.5px;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.61);;
    }
  }

  .social__item {
    width: 20px;
    margin: 0 0 15px 0;
  }

  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
