.team {
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  max-width: 250px;
  margin: 0 auto 35px;
  text-align: center;
}

.team__subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  margin: 0 auto 103px;
  max-width: 255px;
  text-align: center;
}

.team__slider {
  position: relative;
}

.team__slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.team__slider-item {
  position: relative;
  background-color: $light_back;
  display: none;
  padding: 88px 11px 16px 11px;
  box-sizing: border-box;
}

.team__slider-item--active {
  display: block;
}

.team__slider-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.team__slider-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $basic_gold;
  max-width: 125px;
  margin: 0 auto 12px;
}

.team__slider-prof {
  font-weight: 400;
  font-size: 14px;
  line-height: 135.94%;
  margin: 0 auto 25px;
  max-width: 155px;
  text-align: center;
}

.team__slider-desk {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  max-width: 350px;
  margin: 0 auto 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.72);
}

.team__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
}

.team__social-item {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.team__slider-button {
  position: absolute;
  width: 20px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.team__slider-button--prev {
  background-image: url('../img/arrowPrev.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: -16px;
  left: 15%;
}

.team__slider-button--next {
  background-image: url('../img/arrowNext.svg');
  background-repeat: no-repeat;
  background-position: center;
  top: -16px;
  right: 15%;
}

@media (min-width: $tablet) {
  .team {
    padding: 80px 40px 215px;
  }

  .team__title {
    width: 280px;
    max-width: 100%;
    margin-bottom: 23px;
  }

  .team__subtitle {
    width: 500px;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 25px;
    max-width: 100%;
  }

  .team__slider-item {
    padding: 70px 105px 70px 95px;
    width: 600px;
    margin: 0 auto;

    &::before {
      content:'';
      position: absolute;
      top: -25px;
      left: -25px;
      width: calc(100% + 50px);
      height: calc(100% + 50px);
      background-color: transparent;
      border: 0.5px solid $basic_gold;
    }
  }

  .team__slider-title {
    font-size: 24px;
    line-height: 28px;
    width: 190px;
    max-width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
  }

  .team__slider-prof {
    font-size: 16px;
    line-height: 22px;
    max-width: 100%;
    width: 200px;
    margin: 0 0 25px 0;
    text-align: left;
  }

  .team__slider-desk {
    font-size: 16px;
    line-height: 25px;
    max-width: 100%;
    margin: 0 0 40px 0;
    text-align: left;
    width: 400px;
  }

  .team__social-list {
    margin: 0;
    justify-content: flex-start;
  }

  .team__slider-img {
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 50%);
  }

  .team__slider-button--prev {
    top: auto;
    left: 350px;
    bottom: -100px;
    width: 16px;
    height: 30px;
    background-image: url('../img/arrowPrevTablet.svg');
  }

  .team__slider-button--next {
    top: auto;
    bottom: -100px;
    right: 55px;
    width: 16px;
    height: 30px;
    background-image: url('../img/arrowNextTablet.svg');
  }
}
