.travelers {
  padding: 0 0 25px 0;
  background: #192144;
  border-radius: 0 0 30px 30px;
}

.travelers__title {
  margin: 0 0 21px 25px;
}

.travelers__text {
  width: 217px;
  margin: 0 0 0 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
}

.travelers__text--big {
  margin: 23px 0 0 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: $basic_white;
}

.travelers__list {
  list-style: none;
  margin: 54px 0 0 0;
  padding: 0;
}

.travelers__icons {
}
.travelers__icon {
}
.travelers__icon--plane {
}
.travelers__icon--bus {
}
.travelers__icon--bicycle {
}
.travelers__icon--run {
}
