// Colors
$basic_black: #000000;
$basic_white: #ffffff;
$basic_yellow: #FFD74B;
$special_yellow_dark: #FFBD30;
$special_orange: #FF8D30;
$basic_blue: #161C35;
$basic_blue_light: #EDEFF6;
$special_blue_light: #DFE3F0;
$basic_blue_light: #1D2E5B;
$special_grey: #444444;
$special_red: #F47E7E;

// breakpoints
$tablet: 768px;
$desktop: 1440px;
